[submodule "external/torch"]
	path = external/torch
	url = https://github.com/JeodC/Torch-LH.git
	branch = pm64
[submodule "external/libultraship"]
	path = external/libultraship
	url = https://github.com/chris43123/libultraship.git
	branch = airx
